/* Universal */
* {
    padding: 0;
    margin: 0;
}

/* Header */
:root {
    --offwhite: #eeebdc;
    --charcoal: #181818;
    --white: #ffffff;
    --mustard: #D3BF50;
    --huntergreen: #426B1F;
}

#top-navbar {
    position: fixed;
    z-index: 2000;
}

.primary-nav-menu {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--charcoal);
    opacity: 0.9;
}

.primary-nav-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    height: 100vh;
    width: 100%;
    top: 3.5rem;
}

.primary-nav-menu li a {
    color: var(--offwhite);
    font-family: 'Inter';
    font-weight: 200;
    font-size: 2vw;
    transition: 0.40s ease-in-out;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    font-weight: 400;
}

.menu-toggle {
    margin-right: 1.5rem;
    font-size: 2rem;
    color: var(--charcoal);
}

.menu-toggle:hover {
    color: var(--huntergreen);
    text-decoration: none;
}

.primary-nav-menu:target,
.primary-nav-menu[aria-expanded="true"] {
    display: block;
    left: 0;
}

.primary-nav-menu:target ul,
.primary-nav-menu[aria-expanded="true"] ul {
    position: relative;
    top: 4.6rem;
    z-index: 1000;
}

.university-name p {
    font-family: 'Newsreader';
    font-weight: 400;
    font-size: 3vw;
    color: var(--huntergreen);
}

/* Section 1: Home */

.mixsoc-home {
    box-sizing: border-box;
    margin-top: 0;
    background-color: var(--offwhite);
    background-image: url(../img/bkg-drink.jpg);
    background-size: cover;
    min-height: 70vh;
    opacity: 0.95;
}

#home {
    padding: 1rem;
}

.mixsoc-home-title {
    box-sizing: border-box;
    font-family: 'Glory';
    font-weight: 400;
    font-size: 10vw;
    color: var(--mustard);
}

.mixsoc-home-subheading {
    color: var(--offwhite);
    font-family: 'Glory';
    font-weight: 200;
    font-size: 5vw;
}

/* Section 2: About Us */

#about-us {
    background-color: var(--offwhite);
    padding: 1rem;
}

#about-us h2 {
    color: var(--charcoal);
    font-family: 'Glory';
    font-weight: 300;
    font-size: 5vw;
}

#about-us h3 {
    color: var(--charcoal);
    font-family: 'Glory';
    font-weight: 400;
    font-size: 1.4rem;
}

#about-us p {
    color: var(--charcoal);
    font-family: 'Glory';
    font-weight: 200;
    font-size: 1.4rem;
}

.about-us-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: justify;
}

.about-us-img-class {
    height: 50vh;
    width: auto;
}

/* Media Query*/

@media (min-width: 992px) {

    /* Home Section */

    .mixsoc-home {
        min-height: 100vh;
    }

    /* Navigation Bar */

    .nav-bar {
        flex-direction: row;
    }

    .menu-toggle,
    .primary-nav-menu .menu-close {
        display: none;
    }

    .primary-nav-menu {
        display: flex;
        flex-direction: row;
        position: relative;
        left: auto;
        top: auto;
        height: 2.5rem;
        display: block;
        width: 100%;
        background-color: var(--offwhite);
    }

    .primary-nav-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        list-style: none;
        height: auto;
        width: 100%;
    }

    .primary-nav-menu li a {
        color: var(--charcoal);
        font-size: 1.5rem;
    }

    .university-name {
        font-size: 3.5rem;
    }

}

/* Section 3: Sign Up*/

#sign-up {
    background-color: var(--offwhite);
    background-image: url(../img/bartend.jpeg);
    background-size: cover;
    min-height: 50vh;
    opacity: 0.85;
}

.form-subheading {
    color: var(--offwhite);
    font-family: 'Glory';
    font-weight: 200;
    font-size: 5vw;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.center-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 30vw;
    background-color: var(--offwhite);
    opacity: 0.9;
    margin-left: 50vw;
    font-family: 'Glory';
    font-weight: 200;
    font-size: 1.2rem;
}

button[type="submit"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--offwhite);
    background-color: var(--charcoal);
    border-radius: 5px;
    font-family: 'Glory';
    font-weight: 200;
    font-size: 1rem;
    padding: 0.4rem;
}