/* Universal */
* {
    padding: 0;
    margin: 0;
}

/* Header */
:root {
    --offwhite: #F2F2F2;
    --charcoal: #181818;
    --white: #ffffff;
    --mustard: #D3BF50;
    --huntergreen: #426B1F;
}

.primary-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--white);

}

.primary-header li {
    padding-left: 20px;
}

.primary-header li a {
    color: var(--charcoal);
    font: 400 20px 'Inter';
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.40s ease-in-out;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    font-weight: 800;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--offwhite);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.primary-nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    --gap: 60px;
}

.university-name {
    display: flex;
    font: 500 10px 'Newsreader';
    color: var(--huntergreen);
    letter-spacing: -0.08px;
    align-items: center;
    padding-left: 15px;
}

.list-inline-item:first-child {
    left: 0;
    position: absolute;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--offwhite);
    cursor: pointer;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

/*For small devices, it will display hamburger icon and have the nav menu as a column */
/*For bigger devices, it will display the nav menu as a row on top of the screen */
@media(max-width: 700px) {
    .primary-nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        width: 25%;
        height: 100vh;
        position: fixed;
        /*So when the user scrolls down, nav menu will be fixed */
        top: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(59, 57, 49, 0.98);
        transition: all 0.2s ease-in-out;
    }

    .primary-header li a {
        font: 400 10px 'Inter';
        padding: 10px;
        color: var(--offwhite);
    }

    .primary-header li {
        margin-top: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
        color: var(--offwhite);
    }

    nav a:hover {
        font-weight: 600;
    }

    #check:checked~nav {
        display: block;
        right: 0;
    }
}

/* Section 0: Home */

.mixsoc-home {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-top: 0;
    background-color: var(--offwhite);
    background-image: url(../img/bkg-drink.jpg);
    background-size: cover;
    padding-bottom: 100px;
    opacity: 0.95;
}

#home {
    padding: 10px
}

.mixsoc-home-title {
    box-sizing: border-box;
    max-width: 235px;
    font: 400 50px 'Glory';
    color: var(--mustard);
    display: flex;
    flex: 0 0 auto;
    text-align: left;
    letter-spacing: 1px;
}

.mixsoc-home-subheading {
    color: var(--offwhite);
    font: 200 20px 'Glory';
    font-style: extralight;
    letter-spacing: -0.3px;
}