@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;400&family=Inter:wght@200;400;500&family=Newsreader:opsz,wght@6..72,400;6..72,500&display=swap');

:root {
    --offwhite: #eeebdc;
    --charcoal: #181818;
    --white: #ffffff;
    --mustard: #D3BF50;
    --huntergreen: #3B4633;
    --bluegrey: #e2e2e244;
    --chestnut: #6d574b;
    --lightgrey: #e2e2e2ac;
    --font-glory: 'Glory', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-news: 'Newsreader', sans-serif;
}

/* Universal */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-glory);
    font-weight: 200;
    color: var(--charcoal);
}

/* Header */
#top-navbar {
    position: fixed;
    z-index: 2000;
}

.nav-bar {
    flex-direction: row;
}

.menu-toggle,
.primary-nav-menu .menu-close {
    display: none;
}

.primary-nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    left: auto;
    top: auto;
    height: 2.5rem;
    display: block;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: var(--offwhite);
}

.primary-nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    height: auto;
    width: 100%;
}

.primary-nav-menu li a {
    font-family: 'Inter';
    transition: 0.40s ease-in-out;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--charcoal);
}

#links .university-name a {
    font-family: 'Newsreader';
    font-weight: 400;
    font-size: 3rem;
    color: var(--huntergreen);
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    font-weight: 400;
}

.menu-toggle {
    margin-right: 1.5rem;
    font-size: 1rem;
    color: var(--huntergreen)
}

.menu-toggle:hover {
    color: var(--huntergreen);
    text-decoration: none;
}

.primary-nav-menu:target,
.primary-nav-menu[aria-expanded="true"] {
    display: block;
    left: 0;
}

.primary-nav-menu:target ul,
.primary-nav-menu[aria-expanded="true"] ul {
    position: relative;
    top: 4.6rem;
    z-index: 1000;
}

/* Section 1: Home */

.mixsoc-home {
    box-sizing: border-box;
    margin-top: 0;
    background-color: var(--offwhite);
    background-image: url("../img/bkg-drink.jpg");
    background-size: cover;
    min-height: 70vh;
    opacity: 0.95;
}

#home {
    padding: 1rem;
}

.mixsoc-home-title {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 15rem;
    color: var(--mustard);
    padding-top: 1rem;
}

.mixsoc-home-subheading {
    color: var(--offwhite);
    font-size: 7rem;
}

/* Section 2: About Us */

#about-us {
    background-color: var(--offwhite);
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#about-us h2 {
    font-weight: 200;
    font-size: 5rem;
}

#about-us h3 {
    font-weight: 400;
}

.about-us-intro {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-us-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: justify;
    gap: 1rem;
    padding-right: 3rem;
}

.about-us-img-class {
    height: 50vh;
    width: auto;
}

/* Section 3: Sign Up*/

#sign-up {
    background-color: var(--offwhite);
    background-image: url("../img/bartend.jpeg");
    background-size: cover;
    min-height: 50vh;
    opacity: 0.85;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.form-subheading {
    color: var(--offwhite);
    font-size: 5rem;
    font-weight: 200;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.center-form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: auto;
    background-color: var(--offwhite);
    opacity: 0.9;
    margin-left: 50vw;
    margin-right: 4rem;
    padding: 1rem;
}

.form-name {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

button[type="submit"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--offwhite);
    background-color: var(--charcoal);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 200;
    padding: 4px;
}

button:hover {
    background-color: var(--chestnut);
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #1C2D32;
    min-height: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.footer a {
    font-size: 2.5rem;
}

.footer h5 {
    font-weight: 400;
    color: var(--lightgrey);
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 1.3rem;
}

.footer i p {
    color: var(--bluegrey);
    transition: all 0.3s ease-in-out;
}

.footer i:hover {
    color: var(--chestnut);
}

.contact-us p, .download p, .social i {
    color: var(--bluegrey);
    margin-left: 1.3rem;
}

.download i {
    color: var(--bluegrey);
    margin-right: 1.3rem;
}

.social ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.social-links:last-child {
    padding-right: 1.5rem;
}

/* response.html */
.response-page {
    height: 100vh;
    width: 100vw;
    background-image: url("assets/img/close-up-drink.jpg");
    opacity: 95%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.response-box {
    background-color: var(--offwhite);
    color: var(--charcoal);
    font-size: 2rem;
    padding: 2rem;
}

.response-box h3 p i {
    padding-top: 0.3rem;
}

.response-page i {
    color: var(--chestnut);
    padding-bottom: 0.3rem;
}

.response-page i:hover{
    color: var(--mustard);
}

/* Media Query*/

@media (min-width: 992px) {

    .mixsoc-home {
        min-height: 100vh;
    }

    .about-us-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 3rem;
    }

    .about-us-perks {
        margin-right: 2rem;
    }

}